
	<!-- footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4 about">
					<a class="logo" asp-page="/index"><img alt="Image Title" src="/images/header/logo.png"></a>
					<p>We are the group of world best gamers. You can get any type of game info for world class gamers at one place. Join team watch live!</p>
					<ul class="social">
						<li><i class="fa fa-facebook"></i></li>
						<li><i class="fa fa-youtube"></i></li>
						<li><i class="fa fa-instagram"></i></li>
					</ul>
				</div>
				<div class="col-md-2 col-6">
					<h4 class="links-heading">Use Full Links</h4>
					<ul class="links">
						<li><a asp-page="/tournaments">Tournaments</a></li>
						<li><a asp-page="/blog">Blog</a></li>
						<li><a asp-page="/forum">Forum</a></li>
						<li><a asp-page="/contact">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-2  col-6">
					<h4 class="links-heading">Account</h4>
					<ul class="links">
						<li><a asp-page="/shop">Shop</a></li>
						<li><a asp-page="/cart">Cart</a></li>
						<li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
						<li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
					</ul>
				</div>
				<div class="col-md-4">
                        
					<h4 class="links-heading">Running Tournaments</h4>
					<div  class="carousel slide tournamtents" id="footerSlider" data-ride="carousel">
						<!-- The slideshow -->
						<div class="carousel-inner">
							<div class="carousel-item active">
								<div class="box">
									<div class="row">
										<div class="col-4">
											<img alt="Image Title" src="/images/footer/stkr.png">
										</div>
										<div class="col-8">
											<h5>Monks Forest</h5>
											<p class="cat">Violent</p>
										</div>
									</div>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
									<p class="start">Start Date</p>
									<p class="date">23-09-2021 12:00PM</p>
								</div>
							</div>
							<div class="carousel-item">
								<div class="box">
									<div class="row">
										<div class="col-4">
											<img alt="Image Title" src="/images/tournaments/s2.png">
										</div>
										<div class="col-8">
											<h5>Robbits Den</h5>
											<p class="cat">Violent</p>
										</div>
									</div>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
									<p class="start">Start Date</p>
									<p class="date">23-09-2021 12:00PM</p>
								</div>
							</div>


						</div>

						<!-- Left and right controls -->
						<a class="carousel-control-prev" href="#footerSlider" data-slide="prev">
							<img alt="Image Title" src="/images/footer/arrow.png" class="arrow prev">
						</a>
						<a class="carousel-control-next" href="#footerSlider" data-slide="next">
							<img alt="Image Title" src="/images/footer/arrow.png" class="arrow next">
						</a>
					</div>
				</div>
			</div>
		</div>

	</footer>

	<div class="copyright">&copy; 2021 WARRIORS COMMUNITY . DESING AND DEVELOPED BY TECHPLINTH</div>
