/*Font Intialize Start*/
@font-face {
  font-family: "Vermin Vibes V";
  src: url("../../fonts/verminVibes/Vermin Vibes V.eot"), url("../../fonts/verminVibes/Vermin Vibes V.eot?#") format("embedded-opentype"), url("../../fonts/verminVibes/Vermin Vibes V.woff") format("woff"), url("../../fonts/verminVibes/Vermin Vibes V.ttf") format("truetype");
}
@font-face {
  font-family: "Neuropol X";
  src: url("../../fonts/neuropolX/neuropol-x.woff") format("woff");
}
/*Font Intialize End*/
/* A Tag default styling Started*/
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: black;
  text-decoration: none;
}

/* A Tag default styling Ended*/
/*Main Body Start*/
body {
  font-family: "Vermin Vibes V";
  background-color: #060D25;
  letter-spacing: 1.5px;
}
body.loading {
  overflow: hidden;
  height: 100vh;
}

/*Main Body End*/
/*Default Button Styling Started*/
.button {
  background: url("../../images/landing/btn-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding: 10px 0px 10px 5px;
  width: 190px;
  color: #fff;
  height: 42px;
  text-align: center;
}

/*Default Button Styling Ended*/
/*Header & Navigation started*/
header {
  background-color: #00000094;
}
header nav {
  background-color: transparent;
  padding: 20px 0 !important;
}
header nav .navbar-brand {
  color: #fff;
}
header nav .nav-item .nav-link {
  color: #fff;
  font-size: 13px;
}
header nav .nav-item .nav-link:hover {
  color: #d87746;
}
header nav .dropdown-menu {
  background: #060d25;
  color: #fff;
}
header nav .dropdown-menu .dropdown-item {
  color: #fff;
}
header nav .dropdown-menu .dropdown-item:hover {
  color: #d87746;
}

/*Header & Navigation Ended*/
/*Main Home Slider Started*/
#slider {
  background: url("../../images/landing/slider-img.png");
  background-repeat: no-repeat;
  background-color: #060D25;
  background-size: cover;
  height: 800px;
  background-position: bottom center;
}
#slider .content {
  margin: 150px 0 0 0;
  color: #fff;
  background: #000000c7;
  padding: 50px 20px;
  border-radius: 10px;
}
#slider .content h1 {
  background: linear-gradient(94.5deg, #DB27BC 0.2%, #E62A1E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#slider .content hr {
  border-color: #fff;
  width: 35%;
  border-width: 3px;
  margin: 15px 0;
}
#slider .content p {
  font-family: "Neuropol X";
}

/*Main Home Slider Ended*/
/*Default Heading Styling Started*/
.heading h2 {
  position: relative;
  color: #fff;
}
.heading span {
  position: absolute;
  top: 39%;
  font-size: 13px;
  font-family: "Neuropol X";
  color: #fff;
  transform: rotate(90deg);
}
.heading span strong {
  color: #d87746;
}
.heading .left span {
  left: -10%;
}
.heading .right {
  text-align: right;
}
.heading .right span {
  right: -10%;
}

/*Default Heading Styling Ended*/
/*Pages Previews Started*/
#previews {
  padding: 50px 0;
}
#previews .page-box {
  display: block;
  margin: 80px 0;
}
#previews .page-box .main-img {
  width: 100%;
  border-radius: 10px;
}
#previews .page-box .content {
  height: 100%;
  display: table;
}
#previews .page-box .content .center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
#previews .page-box .content .center p {
  font-family: "Neuropol X";
}
#previews .page-box .content .center hr {
  border-color: #fff;
  border-width: 3px;
  width: 50%;
}
#previews .page-box .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  border-radius: 10px;
  margin: 0 15px 0 15px !important;
  padding: 200px 0 0 0;
  height: 100%;
  opacity: 0;
  width: 96.5%;
  transition: 0.5s ease;
  background: linear-gradient(94.5deg, #db27bc66 0.2%, #e62a1ecc 100%);
}
#previews .page-box:hover .overlay {
  opacity: 1;
}

/*Pages Previews Ended*/
/*Section Previews Started*/
#sectionpreviews {
  padding: 30px 0;
}
#sectionpreviews .section-box .main-img {
  width: 100%;
  height: 600px;
  position: relative;
  object-fit: contain;
  object-position: center;
}
#sectionpreviews .section-box .description {
  color: #fff;
  margin: 170px 0 0 0;
  padding: 0 15px;
}
#sectionpreviews .section-box .description.left {
  border-left: 3px solid #fff;
}
#sectionpreviews .section-box .description.right {
  border-right: 3px solid #fff;
  text-align: right;
}
#sectionpreviews .section-box .description p {
  font-family: "Neuropol X";
}

/*Section Previews Ended*/
/*Blogs Started*/
#blogs {
  padding: 30px 0;
}
#blogs .main-img {
  margin-top: 70px;
  width: 100%;
}

/*Blogs Ended*/
/*Footer Started*/
footer {
  margin-top: 120px;
  background: url("../../images/landing/footer-bg.png");
  background-repeat: no-repeat;
  background-color: #060D25;
  background-size: cover;
}
footer .logo {
  width: 130px;
  margin-top: -60px;
}
footer ul li a {
  color: #fff;
}
footer #footerBottom {
  text-align: center;
  background: #0000004f;
  color: #fff;
}

/*Footer Ended*/
/* Ipad Screens Responsive Started*/
@media screen and (max-width: 860px) {
  header nav .navbar-toggler {
    color: #fff;
  }

  .heading {
    text-align: center;
  }
  .heading h2 {
    font-size: 25px;
  }
  .heading .left span {
    left: -14%;
  }
  .heading .right {
    text-align: center;
  }
  .heading .right span {
    right: -14%;
  }

  #slider {
    height: 650px;
  }
  #slider .content {
    margin: 50px 0 0 0;
    padding: 30px 20px;
  }

  #previews .page-box {
    margin: 50px 0;
  }
  #previews .page-box .overlay {
    display: none;
  }

  #sectionpreviews {
    padding: 0 0 20px 0;
  }
  #sectionpreviews .section-box .main-img {
    height: 390px;
  }
  #sectionpreviews .section-box .description {
    margin: 30px 0 0 0;
  }

  #blogs .main-img {
    height: 150px;
    object-fit: contain;
  }
  #blogs .img-box .overlay {
    display: none;
  }

  footer {
    margin-top: 60px;
    background-position: center;
  }
}
/* Ipad Responsive Ended*/
/* Ipad Pro Responsive Started*/
@media screen and (max-width: 1050px) and (min-width: 860px) {
  header nav .button {
    display: none;
  }

  #blogs .main-img {
    height: 349px;
  }
  #blogs .img-box .overlay {
    display: none;
  }

  footer {
    background-position: center;
  }
}
/* Ipad Pro Responsive Ended*/

/*# sourceMappingURL=landing.css.map */
