@page
@model gaming_full_stack_website.Pages.BlogModel
@{
}
<!--page title -->
		<section id="page-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="content">
							<h1>Game News</h1>
							<p>Get latest gaming news here.It’s now several years on and, to my everlasting amazement, people seem to like what I’m writing! I get Emails from kind folk telling me to keep it up, comments from others and plenty of lovely words from much large, and far better, gaming sites out there</p>

						</div>
					</div>
					<div class="col-md-5">
						<div class="img-border">
							<div class="img-bg">
								<img alt="Image Title" src="/images/comp/heading-img.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>	
		<!-- blogs -->
		<section id="blogs">
			<div  class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-6">
								<!--blog box -->
								<div class="blog-box bg-2">
									<div class="content">
										<div class="bottom">
											<h4>The Best Comeback Of 2020..</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a asp-page="blog-detail" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!--blog box -->
								<div class="blog-box bg-3">
									<div class="content">
										<div class="bottom">
											<h4>The Best Remake of 2020 Was..</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a asp-page="blog-detail" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!--blog box -->
								<div class="blog-box bg-4">
									<div class="content">
										<div class="bottom">
											<h4>Weekend Whammy: Best Sel..</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a asp-page="blog-detail" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!--blog box -->
								<div class="blog-box bg-5">
									<div class="content">
										<div class="bottom">
											<h4>Cyberpunk 2077 Review</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a asp-page="blog-detail" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!--blog box -->
								<div class="blog-box bg-2">
									<div class="content">
										<div class="bottom">
											<h4>Weekend Whammy: Skate..</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a asp-page="blog-detail" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!--blog box -->
								<div class="blog-box bg-3">
									<div class="content">
										<div class="bottom">
											<h4>Global Challenge</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a asp-page="blog-detail" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>

						</div>
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<!--side bar -->
						<div class="siderBar">
							<div class="box">
								<h4 class="box-heading">Recent Post</h4>
								<div class="post-box">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
							<div class="box">
								<h4 class="box-heading">Top Teams</h4>
								<ul class="links">
									<li class="team-box">
										Monks Forest
										<div class="points">
											<small>Points earned</small> 299
										</div>
										<img alt="Image Title" src="/images/topteams/gold.png" class="medal-img">
									</li>
									<li class="team-box">
										Rabbits Den
										<div class="points">
											<small>Points earned</small> 299
										</div>
										<img alt="Image Title" src="/images/topteams/silver.png" class="medal-img">
									</li>
									<li class="team-box">
										Sharks in Sea
										<div class="points">
											<small>Points earned</small> 299
										</div>
										<img alt="Image Title" src="/images/topteams/bronze.png" class="medal-img">
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
