@page
@model gaming_full_stack_website.Pages.blog_detailModel
@{
}
	<!--page title -->
		<section id="page-heading">
			<div class="container">
				<div class="content text-center">
					<h1>A Global Challenge</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</section>	
		<!-- Blog Detail -->
		<section id="blog-detail">
			<div  class="container">
				<div class="row">
					<div class="col-md-9">
						<!--Blog Main Img -->
						<img alt="Image Title" src="/images/blog/823x900.png" class="main-img">
						<!--blog detail -->
						<div class="detail">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

							<img alt="Image Title" src="/images/blog/781x446.png">


							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
					</div>
					<div class="col-md-3">
						<!--sidebar -->
						<div class="siderBar">
							<div class="box">
								<h4 class="box-heading">Recent Post</h4>
								<div class="post-box">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
							</div>
							<div class="box">
								<h4 class="box-heading">Top Teams</h4>
								<ul class="links">
									<li class="team-box">
										Monks Forest
										<div class="points">
											<small>Points earned</small> 299
										</div>
										<img alt="Image Title" src="/images/topteams/gold.png" class="medal-img">
									</li>
									<li class="team-box">
										Rabbits Den
										<div class="points">
											<small>Points earned</small> 299
										</div>
										<img alt="Image Title" src="/images/topteams/silver.png" class="medal-img">
									</li>
									<li class="team-box">
										Sharks in Sea
										<div class="points">
											<small>Points earned</small> 299
										</div>
										<img alt="Image Title" src="/images/topteams/bronze.png" class="medal-img">
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>	
