@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Homepage";
}	
	<!-- Support -->
	<section id="support" >
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-6">
					<img alt="Image Title" src="/images/comp/asus.png" >
				</div>
				<div class="col-md-3  col-6">
					<img alt="Image Title" src="/images/comp/stream.png" >
				</div>
				<div class="col-md-3  col-6">
					<img alt="Image Title" src="/images/comp/steam.png" >
				</div>
				<div class="col-md-3  col-6">
					<img alt="Image Title" src="/images/comp/v.play.png" >
				</div>

			</div>
		</div>
	</section>
	<!-- main -->
	<main>
		<!-- Games -->
		<section id="games" >
			<div class="container">
				<div class="heading"><h3>Games</h3></div>
				<div class="row">
					<div class="col-md-3">
						<img alt="Image Title" src="/images/games/400x298.png" >
						<div class="description">Sword Shinner</div>
					</div>
					<div class="col-md-3">
						<img alt="Image Title" src="/images/games/400x298.png" >
						<div class="description">Judo Fighter</div>
					</div>
					<div class="col-md-3">
						<img alt="Image Title" src="/images/games/400x298.png" >
						<div class="description">Gun Slinger</div>
					</div>
					<div class="col-md-3">
						<img alt="Image Title" src="/images/games/400x298.png" >
						<div class="description">Edge of Tommorow</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6">
						<img alt="Image Title" src="/images/games/400x298.png" >
						<div class="description">Robo Generation</div>
					</div>
					<div class="col-md-6">
						<img alt="Image Title" src="/images/games/400x298.png" >
						<div class="description">Evil Indeed</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12">
						<img alt="Image Title" src="/images/games/1110x298.png" >
						<div class="description">Multi Player Slots</div>
					</div>

				</div>
			</div>
		</section>
		<!-- Tournments -->
		<section id="tournaments">
			<div  class="container">
				<div class="heading"><h3>Latest Tournaments</h3></div>
				<div class="row mt-3">
					<div class="col-md-6">
						<div class="trn-box left">
							<div class="row">
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
								<div class="col-md-9">
									<h4>Monks Forest <span class="float-right">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="trn-box right show-on-dekstop">
							<div class="row">

								<div class="col-md-9 text-right">
									<h4>Tiger Arena <span class="float-left">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<div class="col-md-6">
						<div class="trn-box left">
							<div class="row">
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
								<div class="col-md-9">
									<h4>Rabbits Den <span class="float-right">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<div class="col-md-6">
						<div class="trn-box right show-on-dekstop">
							<div class="row">

								<div class="col-md-9 text-right">
									<h4>Sharks in Sea <span class="float-left">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<div class="col-md-6">
						<div class="trn-box left">
							<div class="row">
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
								<div class="col-md-9">
									<h4>Bad'n Babies<span class="float-right">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<div class="col-md-6">
						<div class="trn-box right show-on-dekstop">
							<div class="row">

								<div class="col-md-9 text-right">
									<h4>Farmer Field <span class="float-left">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- create -->
		<section id="create">
			<div class="bg-color">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<div class="box">
								<div class="row">
									<div class="col-md-8 col-10">
										<div class="text">
											<h3>Create Your own <br> Trournament</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
											quis nostrud exercitation ullamco laboris nisi ut.</p>
											<hr>
											<a href="" class="create-button">Create Now</a>
										</div>
									</div>	
									<div class="col-md-4 col-2">
										<img alt="Image Title" src="/images/createTrmt/img.png" class="character-img">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Featured Stream -->
		<section id="stream">
			<div class="container">
				<div class="heading"><h3>Featured Stream</h3></div>
			</div>
			<div class="main-img">
				<div class="overlay">
					<button data-toggle="modal" data-target="#myModal"><i class="fa fa-play"></i></button>

				</div>
			</div>
		</section>
		<!-- Top Teams -->
		<section id="teams" >
			<div class="container">
				<div class="heading"><h3>Top Teams</h3></div>
				<div class="team-box">
					<div class="row">
						<div class="col-md-2 col-4">
							<img alt="Image Title" src="/images/tournaments/s1.png" class="team-logo">
						</div>
						<div class="col-md-4 col-8">
							<h3>Monks Forest</h3>
						</div>
						<div class="col-md-3 text-center col-6">
							<div class="points">
								<small>Points earned</small> 299
							</div>
						</div>
						<div class="col-md-3 col-6 text-center">
							<img alt="Image Title" src="/images/topteams/gold.png" class="medal-img">
						</div>
					</div>
				</div>
				<div class="team-box">
					<div class="row">
						<div class="col-md-2 col-4">
							<img alt="Image Title" src="/images/tournaments/s1.png" class="team-logo">
						</div>
						<div class="col-md-4 col-8">
							<h3>Rabbits Den</h3>
						</div>
						<div class="col-md-3 col-6 text-center">
							<div class="points">
								<small>Points earned</small> 299
							</div>
						</div>
						<div class="col-md-3 col-6 text-center">
							<img alt="Image Title" src="/images/topteams/silver.png" class="medal-img">
						</div>
					</div>
				</div>
				<div class="team-box">
					<div class="row">
						<div class="col-md-2 col-4">
							<img alt="Image Title" src="/images/tournaments/s1.png" class="team-logo">
						</div>
						<div class="col-md-4 col-8">
							<h3>Sharks in Sea</h3>
						</div>
						<div class="col-md-3 col-6 text-center">
							<div class="points">
								<small>Points earned</small> 299
							</div>
						</div>
						<div class="col-md-3 col-6 text-center">
							<img alt="Image Title" src="/images/topteams/bronze.png" class="medal-img">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Blogs -->
		<section id="blogs" >
			<div class="container">
				<div class="heading"><h3>Latest News</h3></div>
				<div class="row mt-3">
					<div class="col-md-4">
						<div class="blog-box bg-1">
							<div class="content">
								<div class="bottom">
									<h4>The Best 2019 Game of 2020</h4>
									<hr>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<a href="blog-detail.html" class="blog-button">Read More</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6">
								<div class="blog-box bg-2">
									<div class="content">
										<div class="bottom">
											<h4>The Best Comeback Of 2020..</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a href="blog-detail.html" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="blog-box bg-3">
									<div class="content">
										<div class="bottom">
											<h4>The Best Remake of 2020 Was..</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a href="blog-detail.html" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="blog-box bg-4">
									<div class="content">
										<div class="bottom">
											<h4>Weekend Whammy: Best Sel..</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a href="blog-detail.html" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="blog-box bg-5">
									<div class="content">
										<div class="bottom">
											<h4>Cyberpunk 2077 Review</h4>
											<hr>
											<p>Lorem ipsum dolor sit amet, consectetur</p>
											<a href="blog-detail.html" class="blog-button">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- join -->
		<section id="join">
			<div class="green-bg">
				<div class="container">
					<div class="content-center">
						<div class="content">
							<h3>What Are you Waiting For ?</h3>
							<hr>
							<p>Join Now and get latest news & detailed info about games</p>
							<a href="register.html" class="register-button"><img alt="Image Title" src="/images/slider/registerbutton.png"></a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>




