@page
@model gaming_full_stack_website.Pages.TournamentsModel
@{
    
}

	<main>
		<!--page title -->
		<section id="page-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="content">
							<h1>Search Tournaments</h1>
							<p>The highest rated in terms of their online activity with over 1 million daily players from all around South Africa. The first tournament to host a Top 40 event, our #1 ranked Open format was contested by 16 teams at King Arthur Park (KAP) on 9-10 May 2013.</p>
							<form>
								<div class="form-group">
									<input type="text" name="search" class="form-control" placeholder="Search Tournaments">
								</div>
								<button class="flayer-button btn-block mt-3">Search</button>
							</form>
						</div>
					</div>
					<div class="col-md-5">
						<div class="img-border">
							<div class="img-bg">
								<img alt="Image Title" src="/images/comp/heading-img.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>	
		<!-- Tournments -->
		<section id="tournaments">
			<div  class="container">
				<div class="row mt-3">
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box left">
							<div class="row">
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
								<div class="col-md-9">
									<h4>Clawn Circus <span class="float-right">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>
					</div>
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box right show-on-dekstop">
							<div class="row">

								<div class="col-md-9 text-right">
									<h4>Tech Legends<span class="float-left">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box left">
							<div class="row">
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
								<div class="col-md-9">
									<h4>Lighting Killer <span class="float-right">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>
					</div>
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box right show-on-dekstop">
							<div class="row">

								<div class="col-md-9 text-right">
									<h4>Ninja Fighters<span class="float-left">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box left">
							<div class="row">
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
								<div class="col-md-9">
									<h4>Monks Forest <span class="float-right">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>
					</div>
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box right show-on-dekstop">
							<div class="row">

								<div class="col-md-9 text-right">
									<h4>Tiger Arena <span class="float-left">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box left">
							<div class="row">
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
								<div class="col-md-9">
									<h4>Rabbits Den <span class="float-right">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box right show-on-dekstop">
							<div class="row">

								<div class="col-md-9 text-right">
									<h4>Sharks in Sea <span class="float-left">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box left">
							<div class="row">
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
								<div class="col-md-9">
									<h4>Bad'n Babies<span class="float-right">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>

					</div>
					<!--tournament box -->
					<div class="col-md-6">
						<div class="trn-box right show-on-dekstop">
							<div class="row">

								<div class="col-md-9 text-right">
									<h4>Farmer Field <span class="float-left">
										<small>Start Date</small><br>
										23 09 2021 12:00PM
									</span></h4>
									<p class="cat">valorant</p>
									<p class="users"><i class="fa fa-users"></i> 9/10 Users Registered</p>
								</div>
								<div class="col-md-3">
									<img alt="Image Title" src="/images/tournaments/s1.png" class="game-logo">
								</div>
							</div>
							<div class="play-icon">
								<img alt="Image Title" src="/images/tournaments/cntrlr.png" >
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>	
	</main>



